<!DOCTYPE html>
<html ng-app="dkaApp" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./docs/32px-robot-blue.png">

    <title>DKA-robo demo</title>

    <!-- Bootstrap core CSS -->
    <link href="./dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./dist/css/font-awesome.min.css" rel="stylesheet">


    <link href="./dist/css/custom.css" rel="stylesheet">
  </head>

  <body ng-controller="dkaController">

    <!-- <nav class="navbar navbar-inverse navbar-fixed-top  navbar-custom">
      <div class="container">
        <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          </button> 

        </div>
        <div id="navbar" class="navbar-collapse collapse">

        </div>
      </div>
    </nav> -->
    <div class="header" > <!-- <i class="fa fa-android fa-lg" aria-hidden="true"></i> DKA-robo demo <i class="fa fa-android fa-lg" aria-hidden="true"></i>  -->
	  	<div class="container">
			<img id="logo" src="./docs/hires-logo.png" />
		</div>
    </div>

    <div class="jumbotron">
	    	 <h2 class="text-center"> KMi Knowledge Base</h2>
		     <!-- <div class="container" style=" height: 100px"></div> -->
			 <div class="container">
				 <div class="kb_container">
				   <div class="map_container">
					

			  	 	<img class="map" ng-src="{{configfile.map.img}}"/>
					<img ng-model="configfile.robot" ng-style="configfile.robot.style" class="robot" ng-src="{{configfile.robot.img}}"/>
				   </div>
				   <div ng-repeat="room in configfile.rooms" id={{room.name}}  class="element" 
				     style="left:{{room.left}};top:{{room.top}};width:{{room.width}}"  ng-hide="isRoomInvalid(room)" > <!-- -->
					
				  	 <div  id="chart" >
				          <div class="panel panel-cstm">
				            	 <div class="panel-heading room-heading" style="background-color:{{room.backcolor}}"><b>{{room.name}}</b></div>
								    <table class="kb-table table table-condensed">
										<tbody>
										       <tr ng-if="x.validity" ng-repeat="(i,x) in room.properties" ng-style="{background:x.color}">
												   <td>{{x.name}}</td>
												   <td>{{x.value}}</td>
										       </tr>
										</tbody>
								    </table>
						         </div>
					     </div>
				     </div>
				 </div>
			
			</div> <!-- /container -->
	     	<!-- <div class="container" style=" height: 100px">

	     	</div> -->
		  
	</div> <!-- end jumbo -->
	  
	
	 
	
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
		<div class="col-md-4">
          <h2>Query</h2>
		  
		  <textarea ng-model="radioModel" class="form-control" rows="5">{{ radioModel || 'Insert a SPARQL query'}}</textarea>
		  <h3></h3>
		  <div class="btn-group btn-group-justified" role="group" aria-label=""> 
    		  	<select name="querySelect" id="querySelect" ng-model="$parent.radioModel" class="form-control">
				<option value="">--- Please select a query ---</option>
      		  		<option ng-repeat="query in configfile.queries" ng-value="query.value">{{query.name}}</option>
		  	</select>
		  </div>
      
		  <!-- <h2></h2> -->
		  <p class="btn-toolbar">
			  <p></p>
	      <button type="button" ng-click="queryServer()" class="btn  navbar-btn btn-custom pull-left">
	          EXECUTE
	      </button>
	      <!-- <div style="height:5px"></div> --> 	
  	      <!-- <p></p> -->
		  <button type="button" ng-click="abort()" class="btn navbar-btn btn-custom pull-right">
  	          ABORT
  	      </button>
		  </p>
	     
	      
        </div>
       
        <div class="col-md-4">
          <h2>Plan</h2>
          <!-- <p>Robo Plan print here...</p> -->
		  
		  <div class="list-group">
			  <li ng-class="{disabled : action.executed, active : action.executing }" class="list-group-item" ng-repeat="action in plan"  > 
				   <span ng-if="action.executed" class="fa fa-check fa-fw" aria-hidden="true"></span>
				   <span ng-if="action.executing" class="fa fa-spinner fa-spin fa-fw" aria-hidden="true"></span>
			   	{{action.name}} 
			   </li>
		  </div>
		  
        </div>
      
	  <div class="col-md-4">
	            <h2>Results</h2>
				
	  		  <div ng-model="queryResults" ng-show="queryResults.show">
				  <table class="querytable table table-striped">
				  	<tbody>
						<!--<tr>
							<th>test1</th>
							<th>test2</th>
						</tr>
						<tr>
							<td>test test 1</td>
							<td>test test 2</td>
						</tr>-->
						<tr>
							<th ng-repeat="key in queryResults.keys" class="querycell">{{key}}</td>
						</tr>
						<tr ng-repeat="result in queryResults.results" class="queryrow">
							<td ng-repeat="key in queryResults.keys" class="querycell">{{result[key]}}</td>
						</tr>
					</tbody>
				  </table>
	  		  </div>
	        </div>
	  </div>  <!-- end row -->
      <hr></hr>
      
	  

      <footer>
        <p>&copy; Data Science group, Knowledge Media institute, The Open University, 2016</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="./dist/js/bootstrap.min.js"></script>
 
    <script src="./dist/js/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
	
 	<script src="./dist/js/ui-bootstrap-2.0.1.min.js"></script>
	<script src="./dist/js/moment.min.js"></script>
	

 
    <script src="./dist/js/dkaApp.js"></script>
  </body>
</html>
